# Create "Ratings" table on Hive

```bash
CREATE TABLE ratings(
        userID  INT,
        movieID INT,
        rating  INT,
        time    INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
STORED AS TEXTFILE;
```

## Import data

```bash
LOAD DATA LOCAL INPATH 'resources/examples/u.data'
OVERWRITE INTO TABLE ratings;
```

## Finding the most popular movie

```bash
SELECT movieID, COUNT(movieID) as ratingCount
FROM ratings
GROUP BY movieID
ORDER BY ratingCount DESC
LIMIT 10;
```

## Finding the name of the most popular movie

```bash
CREATE TABLE movieNames(
        movieID  INT,
        title STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '|'
STORED AS TEXTFILE;

LOAD DATA LOCAL INPATH 'resources/examples/u.item'
OVERWRITE INTO TABLE movieNames;
```

```bash
CREATE VIEW topMoviesIds AS
SELECT movieID, COUNT(movieID) as ratingCount
FROM ratings
GROUP BY movieID
ORDER BY ratingCount DESC;
```

```bash
SELECT n.title, ratingCount
FROM topMoviesIds t JOIN movieNames n ON t.movieID = n.movieID
LIMIT 10;
```

# It's your Turn

## Create a new table and import the u.data and u.item using the HDFS

## Find the movie with the highest average time

What do you think about this result??

## Find the movie with the highest average time, only considering movies with more than 10 ratings